
<div class="container">

<h1>Todo Lists</h1>

<div class="row">
  <%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary' %>

  <%= link_to 'Create CSV', request.url + '.csv', class: 'btn btn-success'  %>
  <%= link_to 'Create PDF' , request.url + '.pdf', class: 'btn btn-danger' %>
</div>
<br />

<% @todo_lists.each do |todo_list| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= todo_list.title %></h5>
      <p class="card-text"><%= todo_list.description %></p>
      <td><%= link_to 'Show', todo_list, class: 'btn btn-outline-secondary' %></td>
      <td><%= link_to 'Edit', edit_todo_list_path(todo_list), class: 'btn btn-outline-secondary' %></td>
      <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
    </div>
  </div>
<% end %>


<br>




</div>

