
<div class="container">

<br />

<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Title:</strong>
      <%= @todo_list.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @todo_list.description %>
    </p>
  </div>
  
  <div class="col-md-6">
<br />
    <%= link_to 'Create CSV', request.url + '.csv', class: 'btn btn-success' %>
  <%= link_to 'Create PDF' , request.url + '.pdf', class: 'btn btn-danger' %>


  </div>
</div>



  <div id="todo_items_wrapper">
    <%= render @todo_list.todo_items %>
    <br />
    <div id="form-group">
      <%= render "todo_items/form" %>
    </div>

  </div>

  <br />
  <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'btn btn-outline-secondary' %> 
  <%= link_to 'Back', todo_lists_path, class: 'btn btn-outline-secondary' %>




</div>
